<h1>Project Info</h1>
<div class="row">
  <aside class="col-md-4">
    <section >
      <h4>
      Title :
        <%= @project.title.capitalize %>
      </h4>
      <h4>
      Description :
        <%= @project.description %>
      </h4>
    </section>
  </aside>
</div>
